name: NPM Publish

on:
  pull_request:
    branches: [master]
    types: [closed]

permissions: {}

jobs:
  publish:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: 20.x
      - name: Install dependencies and build
        run: |
          npm ci
          npm run build --if-present
      - name: Publish package
        uses: JS-DevTools/npm-publish@7f8fe47b3bea1be0c3aec2b717c5ec1f3e03410b
        with:
          token: ${{ secrets.NPM_TOKEN}}
          provenance: true
